<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Reut's Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('auth.showUsers')}}">Users</a></li>
                  <li><a class="dropdown-item" href="{{url_for('auth.addUser')}}">Add User</a></li>
                  <li><a class="dropdown-item" href="{{url_for('auth.showUsers')}}">Remove User</a></li>
                </ul>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Books Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('books.showBooks', filter='all')}}">All Books</a></li>
                    <li><a class="dropdown-item" href="{{url_for('books.addBook')}}">Add Book</a></li>
                    <li><a class="dropdown-item" href="{{url_for('books.addCategory')}}">Add Category</a></li>
                    <li><a class="dropdown-item" href="{{url_for('books.searchBook')}}">Search Book</a></li>
                  </ul>
            </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Loans Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('books.showLoans', filter='all')}}">Current Loans</a></li>
              <li><a class="dropdown-item" href="{{url_for('books.addLoan')}}">Late Loans</a></li>
              <li><a class="dropdown-item" href="{{url_for('books.addLoan')}}">Create Loan</a></li>
              <li><a class="dropdown-item" href="{{url_for('books.addLoan')}}">Return Loan</a></li>
              <li><a class="dropdown-item" href="{{url_for('books.searchLoan')}}">Search Loan</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>