{% extends "base.html" %}


{% block content %}
    {% if check %}
        <div class="alert alert-warning" role="alert">
            <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>
            {{check}}
        </div>
    {% endif %}
    <form action="" method="post">

        <div class="tabs effect-1">
            <!-- tab-content -->
        <div class="tab-content">
            <section id="tab-item-1">
                <ul class="bookList">   
                    <div class="row">    
                    <div class="col-sm-3" style="margin-top:20px;">
                        <div  style="width: 25rem;">
                            <img src="{{ url_for('static', filename='images/pexels-christina-morillo-1181288.jpg') }}" class="card-img-top" style="border-radius:30px;background: #0d0d0c;padding: 3px;" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ loan.book.bookName }}</h5>
                            <p class="card-text">Customer:  {{ loan.user.username }}</p>
                            <p class="card-text">Loan Date:  {{ loan.loanDate }}</p>
                            <p class="card-text">Return Date:  {{ loan.returnDate }}</p>
                            <input type="submit" name='deleteLoan' value="Return Loan" class="btn btn-primary" >
                            </div>
                        </div>  
                    </div>
                </div>  
                </ul> <!--end All-Tasks-List -->
            </section>
        </div><!-- end tab content -->
        </div><!-- end tab effect -->
    </form>
{% endblock %}
