{% extends "base.html" %}


{% block content %}
    {% if check %}
        <div class="alert alert-warning" role="alert">
            <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>
            {{check}}
        </div>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
        <form action="" method="post"  novalidate, enctype="multipart/form-data" >
            {{ search.hidden_tag() }}
            <div class="inputContainer Task" > 
                {{ search.search.label }}<br>
                {{ search.search(size=20) }}
                {% for error in search.search.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="registerbtn">   
                {{ search.submit(class="btn btn-primary mt-3")}}
            </div> 
        </form>
{% endblock %}
